$containerWidth: 1590px;
$paddingContainer: 10px;
$container: $containerWidth + ($paddingContainer * 2);
$fontFamily: 'Outfit', sans-serif;
$mainSize: 24px;
$mainWeight: 400;
$bodyLine: 1.5;
$titleFz: 80px;
$titleFxMob: 30px;
$titleLh: 1.125;
$titleWeight: 500;
$mainColor: #000;
$accentColor: #e23047;
